venv/*
.idea/*
test.py
test.ipynb
*/*.log
.env
.gradio/*
__pycache__/*
.vercel
utils/__pycache__/*
agents/__pycache__/*
fchecker/__pycache__/*  
=2.4.2
=2.4.2~
pragati.log
*/__pycache__/
*.pdf
/output/*