#directories
kdsh-2025/
venv/
__pycache__/
.idea/

#files
credentials.json
.env
kdsh-2025.log
output.txt
gdrive-credentials.json


# misc
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
