matplotlib
langchain
langchain-community
uvicorn
fastapi
jinja2
python-dotenv
gradio
h11
arxiv
google-search-results
langgraph
pillow
langchain_groq
pyppeteer
geopandas                          
numpy                              
pandas                             
pandas-datareader                  
pandas-gbq                         
pandas-profiling                   
pandas-stubs                       
pandasql                           
pix2tex                            
PyMuPDF                            
pytesseract                        
pytorch-ignite                     
pytorch-lightning                  
sentence-transformers              
sklearn-pandas                     
torch                              
torchaudio                         
torchinfo                          
torchmetrics                       
torchsummary                       
torchtune                          
torchvision                        
transformers                       
x-transformers
